<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	<Product Id="*" Name="Aplitri" Language="1033" Version="1.0.0.0" Manufacturer="Dreaming With Objects S.L." UpgradeCode="4694f3e0-dae8-461e-bc06-acb3f15fd21f">
		<Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine" />

		<MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
    <Media Id="1" Cabinet="SetupAplitri.cab" EmbedCab="yes" />

    <Feature Id="ProductFeature" Title="Aplitri" Level="1">
			<ComponentGroupRef Id="ProductComponents" />
		</Feature>
	</Product>

	<Fragment>
		<Directory Id="TARGETDIR" Name="SourceDir">
			<Directory Id="ProgramFilesFolder">
				<Directory Id="INSTALLFOLDER" Name="Aplitri" />
        <Directory Id="WinSxS" Name="WinSxS"/>
        </Directory>
		</Directory>
	</Fragment>

	<Fragment>
		<ComponentGroup Id="ProductComponents" Directory="WinSxS">
      <Component Id="CMP_ApliTri.dll"
             Guid="*">
        <File Id="FILE_ApliTri.dll"
              Source="$(var.SolutionDir)Assets\ApliTri.dll"
              KeyPath="yes"
              Assembly="win32"
              AssemblyManifest="FILE_ApliTri.dll.manifest"/>
        <File Id="FILE_ApliTri.dll.manifest"
              Source="$(var.SolutionDir)Assets\ApliTri.dll.manifest"
              KeyPath="no"/>
        <File Id="FILE_ApliTri.dll.cat"
              Source="$(var.SolutionDir)Assets\ApliTri.dll.cat"
              KeyPath="no"/>
      </Component>
    </ComponentGroup>
	</Fragment>
</Wix>
